/* 
    Created on : 2016-dec-07, 12:19:51
    Author     : peder
*/

/* föraradministration */

.driver-form-row, .driver-form-label, driver-form-field,
.cab-form-row, .cab-form-label, cab-form-field{
    float: left;
    min-height: 3em;
}

.driver-form-row, cab-form-row, .cab-form-content{    
    float:left;
    min-width: 100%;
    max-width: 100%;
}

.cab-form-block{  
    min-width: 50%;
    max-width: 50%;        
}


.driver-form-label, .cab-form-label{
    min-width: 6em; 
    
}

.driver-form-field, .cab-form-field{
    float: left;
    min-width: 20em
}